<div class="container">
    <p><a href = "/">Skyflix Logo</a></p>
    <p><a href = "/top-10-highest-grossing-movies-by-year">Top 10 Highest Grossing Movies by Year</a></p>
    <p><a href = "/popular-movies">Popular Movies</a></p>
    <p><a href = "/total-movie-collection-earnings">Total Movie Collection Earnings</a></p>
    <p><a href = "/highest-rated-movies-by-year">Highest-Rated Movies by Year</a></p>
    <p><a href = "/top-50-similar-movies">Top 50 Similar Movies</a></p>
    <p><a href = "/top-10-most-popular-genres-by-year">Top 10 Most Popular Genres by Year</a></p>
    <p><a href = "/movie-info">Movie Info</a></p>
</div>