<div class="container">
    <nav>
        <img class='icon' src="img/icon.png" />
        <h1><a href="/">Skyflix</a></h1><br>
        <p><a href="/top-10-highest-grossing-movies-by-year">[DONE] Top 10 Highest Grossing Movies by Year</a></p>
        <p><a href="/movie-info">Movie Info</a></p>
        <p><a href="/total-movie-collection-earnings">[DONE] Total Movie Collection Earnings</a></p>
        <p><a href="/top-50-highest-rated-movies-by-year">[BUG] Highest-Rated Movies by Year</a></p>
        <p><a href="/top-50-similar-movies">[BUG] Top 50 Similar Movies</a></p>
        <p><a href="/top-10-most-popular-genres-by-year">[DONE] Top 10 Most Popular Genres by Year</a></p>
        <p><a href="/top-50-highest-rated-movies-by-keywords">[BUG] Top 50 Highest-Rated Movies by Keywords</a></p>
    </nav>
</div>