<div class="container">
    <p>Top 10 Highest Grossing Movies by Year</p>
    <p>Popular Movies</p>
    <p>Total Movie Collection Earnings</p>
    <p>Highest-Rated Movies by Year</p>
    <p>Top 50 Similar Movies</p>
    <p>Top 10 Most Popular Genres by Year</p>
    <p>Movie Info</p>
</div>