<div class="container">
    <p><a href = "/">Top 10 Highest Grossing Movies by Year</a></p>
    <p><a href = "/">Popular Movies</a></p>
    <p><a href = "/">Total Movie Collection Earnings</a></p>
    <p><a href = "/">Highest-Rated Movies by Year</a></p>
    <p><a href = "/">Top 50 Similar Movies</a></p>
    <p><a href = "/">Top 10 Most Popular Genres by Year</a></p>
    <p><a href = "/">Movie Info</a></p>
</div>