<div class="container">
  <h1>{{ title }}</h1>
  <br>
  
  <div id = "form">

    <form name = "movie_collection" id = "movie_collection" method = "post">
      
      <label for = "collection">Movie Collection:</label>
      <input type = "text" id = "collection" name = "collection" onkeydown = "pressedEnter(event)">
    
      <button onclick = "submit()">Search</button>

    </form>

  </div>

</div>