<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id = "form">

    <form name = "movie_keywords" id = "movie_keywordsd" method = "post">

      <label for = "keyword">Movie Keyword:</label>
      <input type="text" id = "keyword" name = "keyword" onkeydown = "pressedEnter(event)">

      <button onclick = "submit()">Search</button>

    </form>

  </div>

</div>