<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <p>
    Skyflix is a web application for users to efficiently search for and query movies and their corresponding
    information. The application uses the Movies dataset from Kaggle, which is taken from the Full MovieLens Dataset.
    Originally, the dataset is composed of 7 comma-separated values files (CSV), which, in total, contains metadata of
    about 45,000 movies, 26,000,000 ratings from 270,000 users obtained from the official GroupLens website.
  </p>
  <p>
    One of the most popular and entertaining forms of media are movies. However, due to the pandemic, entertainment has
    been forced to move to online platforms for easier access, and movies are not an exception. Streaming websites such
    as Netflix, Hulu, and Crunchyroll are continuously becoming popular over the past few years. Existing websites like
    IMDB are already being used to look for movie information.
  </p>
  <p>
    Beyond that, however, we wanted to provide more in-depth search, sort, and filter queries, such as being able to
    look for movies with certain keywords, or view the most popular movies under a certain genre released in a certain
    year. One problem users often encounter is difficulty in choosing movies. Skyflix aims to solve that problem and
    help users choose movies they seek by providing meaningful queries.
  </p>
</div>