<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <p>
    Skyflix is a website for users to efficiently search for and query movies and their corresponding
    information. It uses the Movies dataset from Kaggle, which is taken from the Full MovieLens Dataset.
    In total, it contains metadata of about 45,000 movies and 26,000,000 ratings from 270,000 users 
    that is obtained from the official GroupLens website.
  </p>
  <p>
    Happy searching!
  </p>
</div>