<div class="container">
  <h1>{{ title }}</h1>
  <br>
  <div class="card">
    <div class="card-body">
      <p>
        Skyflix is a website for users to efficiently search for and query movies and their corresponding
        information. It uses the Movies dataset from Kaggle, which is taken from the Full MovieLens Dataset.
        In total, it contains metadata of about 45,000 movies and 26,000,000 ratings from 270,000 users
        that is obtained from the official GroupLens website.
      </p>
      <p>
        Happy searching!
      </p>
    </div>
  </div>
</div>