<div class="container">
  <h2>{{ title }}</h2>
  <br>

  <div id="form">

    <form name="movie_title" id="movie_title" method="post">

      <label for="title">Movie Title:</label>
      <input type="text" id="title" name="title" onkeydown="pressedEnter(event)">

      <button onclick="submit()">Search</button>

    </form>

  </div>

</div>